@import url(../bower_components/normalize.css/normalize.css);
html,
body {
  height: 100%; }

body {
  background: #fff url(../grid.gif) 0 0 repeat;
  font-size: 18px;
  min-height: 10000px;
  -webkit-perspective-origin: 300px 300px;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 300px;
  -o-perspective-origin: 300px 300px;
  -o-transform-style: preserve-3d;
  -o-perspective: 300px;
  -moz-perspective-origin: 300px 300px;
  -moz-transform-style: preserve-3d;
  -moz-perspective: 300px;
  perspective-origin: 300px 300px;
  transform-style: preserve-3d;
  perspective: 300px; }
  body .counter-scroll {
    background-color: #71C5B1;
    position: fixed;
    width: 600px;
    height: 600px;
    top: 350px;
    left: 350px;
    bottom: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translateZ(150px) translateY(-300px) translateX(-300px) scale(0.5);
    -o-transform: translateZ(150px) translateY(-300px) translateX(-300px) scale(0.5);
    -moz-transform: translateZ(150px) translateY(-300px) translateX(-300px) scale(0.5);
    transform: translateZ(150px) translateY(-300px) translateX(-300px) scale(0.5); }
    body .counter-scroll .object-contain {
      -webkit-transform-style: flat; }
      body .counter-scroll .object-contain .panel p {
        display: block;
        line-height: 600px;
        text-align: center;
        margin: 0; }
