@import "../bower_components/normalize.css/normalize.css";

//vars
$object-size 	: 600px;
$left 			: 100px;
$top			: 100px;
$zoom			: 1;

// -------------
$scale 			: $zoom * 0.5;
$offset 		: round( $object-size * $scale );
$depth			: round( $offset * $scale );

html,
body {
	height: 100%;
}

body {
	background: #fff url(../grid.gif) 0 0 repeat;
	font-size: 18px;
	min-height: 10000px;
	
	-webkit-perspective-origin: $offset $offset;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: $offset;

	-o-perspective-origin: $offset $offset;
	-o-transform-style: preserve-3d;
	-o-perspective: $offset;

	-moz-perspective-origin: $offset $offset;
	-moz-transform-style: preserve-3d;
	-moz-perspective: $offset;

	perspective-origin: $offset $offset;
	transform-style: preserve-3d;
	perspective: $offset;

	.counter-scroll {

		background-color: #71C5B1;

		position: fixed;
		width: $object-size;
		height: $object-size;
		top: $offset + round( $top * $scale );
		left: $offset + round( $left * $scale );
		bottom: 0;
		right: 0;
		z-index: 1;
		-webkit-transform: translateZ($depth) translateY(-$offset) translateX(-$offset) scale($scale);
		-o-transform: translateZ($depth) translateY(-$offset) translateX(-$offset) scale($scale);
		-moz-transform: translateZ($depth) translateY(-$offset) translateX(-$offset) scale($scale);
		transform: translateZ($depth) translateY(-$offset) translateX(-$offset) scale($scale);

		.object-contain {
			-webkit-transform-style: flat;
		
			.panel {
				p {
					display: block;
					line-height: $object-size;
					text-align: center;
					margin: 0;

				}
			}
		}
	}
}